#!/bin/bash

# Contains environment variables and other bits customized for this workflow
# Use direnv to make it an even better user experience
# https://github.com/direnv/direnv
# https://rnorth.org/practical-direnv

# grep for all non-localhost IPv4 addresses
# Pick the last IP
IP=$(ifconfig | grep inet | grep -v inet6 | grep -v '127\.' | tr '\t' ' ' | sed 's/^ //g' | awk '{print $2}' | sed 's/addr://g' | sort | tail -n 1)

export CONCOURSE_EXTERNAL_URL
CONCOURSE_EXTERNAL_URL="http://${IP}:8080"

export FLY_CLI_VERSION
FLY_CLI_VERSION=3.8.0

export CONCOURSE_BASIC_AUTH_USERNAME
CONCOURSE_BASIC_AUTH_USERNAME=concourse

export CONCOURSE_BASIC_AUTH_PASSWORD
CONCOURSE_BASIC_AUTH_PASSWORD=changeme

export CONCOURSE_POSTGRES_USER
CONCOURSE_POSTGRES_USER=concourse

export CONCOURSE_POSTGRES_PASSWORD
CONCOURSE_POSTGRES_PASSWORD=changeme

export CONCOURSE_POSTGRES_DATABASE
CONCOURSE_POSTGRES_DATABASE=concourse
